
/* overall styling */
  body {margin:0;}
  body {font-family: "Lato", sans-serif};
  background-color {black;}

/* Search function positioning and style */
  .box{
        margin: 250px auto;
        width: 500px;
        height: 10px;
      }

  .container-1{
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
        position: static;;
      }

  .container-1 input#search{
        width: 500px;
        height: 50px;
        background: white;
        border: none;
        font-size: 15pt;
        float: left;
        color: #63717f;
        padding-left: 45px;

        border-radius: 15px;
  }



/* overall background color */
  body{
          background: white;
      }
/* Navigation bar styling */
  ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          background-color: #333;
          position: fixed;
          top: 0;
          width: 100%;
          border-bottom: solid #47c4d1 5px;
      }

  li {
          float: left;
      }


  li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 25px;
          text-decoration: none;
       }

  li a:hover:not(.active) {
          background-color: #47c4d1;
        }

    .floatRightside{
        float:right;
    }
/* Footer Design */

  .footer{
        display: block;
        padding:14px 25px;
        margin: 0;
        padding:0;
  }



  .footerDesign {


        color: white;
        background-color: #333;
        text-align: center;
        bottom: 0;
        top: 0;
        padding: 0px 25px;
        clear: both;
        border-top: solid #47c4d1 5px;
        display: block;





    }

    .footerLinks{

          color: white;
          display: block;
          margin:0;
          padding: 1px 25px;
          list-style-type: none;
          text-align: center;
          position:relative;;


    }

      li.foots {
          display: block;

          width: 90px;
          height: 25px;
          float: left;
          margin-left: 400px;
      }
/* GALLERY DESIGNS */
    div.gallery {
          margin: 5px;
          border: 10px solid #ccc;

          float:left;
          width: 300px;
          padding: 75px;
    }

    div.gallery:hover {
          border: 10px solid #47c4d1;
    }

    div.gallery img {
          width: 100%;
          height: auto;

    }

    div.desc {
          padding: 1px ;
          text-align: center;
    }

/* Testing different FOOTER styling

    .copy-right ul li {
          list-style-type: none;
          display: inline-block;
          margin: 0 0px;
          border-left: 1px solid #444343;
          padding: 0 20px;
*/


/* Testing different nav functions

  .websiteName{

          display: block;
          font-size: 20px;
          color: hotpink;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

  .websiteName{
          hover:not(.active)
          background-color: black;
        }
Testing different nav functions */
