
/* overall styling */
  body {margin:0;}
  body {font-family: "Lato", sans-serif
  }


  html {
  }



  .table-container {
      width: 80%;
      margin:10em auto;
      background: rgba(255,255,255,0.8);
      padding: 3em;
      
  }

/* Search function positioning and style */
  /*.box{*/
        /*margin: 250px auto;*/
        /*width: 500px;*/
        /*height: 10px;*/
      /*}*/

  /*.container-1{*/
        /*width: 300px;*/
        /*vertical-align: middle;*/
        /*white-space: nowrap;*/
        /*position: static;;*/
      /*}*/

  /*.container-1 input#search{*/
        /*width: 500px;*/
        /*height: 50px;*/
        /*background: white;*/
        /*border: none;*/
        /*font-size: 15pt;*/
        /*float: left;*/
        /*color: #63717f;*/
        /*padding-left: 45px;*/

        /*border-radius: 15px;*/
  /*}*/



/* overall background color */
  body{
          background: white;
      background-image: url("../img/background.jpg");
      background-size: cover;
      }

  .website-title {
      font-size: 2em;
      position: relative;
  }

    .website-title li {
        position:relative;
        font-weight: 600;
        padding: .3em 0;
    }
        .website-title li a:hover{
            color:initial;
            border:none;
            text-decoration: none;
        }

    .website-title li a:after {
        content: '';
        display: block;
        position: absolute;
        left:0;
        bottom: 0;
        width: 1em;
        height: 7px;
        background-color:black;

    }

  .body-container{
      background-image: url("../img/background.jpg");
      background-size: cover;
      height: 60em;

  }


  .body-text-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80%;
      width: 100%;
  }

  .body-text {
      width: 20%;
      height: 50%;
      margin-left:20%;
  }

  .body-text p {
    margin: 0;
  }


  .gray {
      font-size:2em;
      color: #5e5e5e;
  }
  .black{
      font-size:3em;
      color: black;
      font-weight: 600;
  }

  #paragraph{
      margin: 3em 0;
  }

  .get-started{
      color: white;
  }
  .get-started:hover{
      text-decoration: none;
  }

/* Navigation bar styling */
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      /*background-color: #333;*/
      background-color:transparent;
      position: relative;
      height:4em;
      top: 0;
      width: 100%;
      /*border-bottom: solid #47c4d1 5px;*/
  }

  li {
          float: left;
      margin-left: 3em;
      margin-top: 1em;
      }



  li a {
          display: block;
          color: black;
          text-align: center;
          /*padding: 14px 25px;*/
          text-decoration: none;
       }

  li a:hover:not(.active) {
          /*background-color: #47c4d1;*/
        }

    .floatRightside{
        float:right;
        margin-top: 1em;
        margin-right: 2em;
    }

    .floatRightside li a {
        font-size: 1.5em;
    }
/* Footer Design */

  .footer{
        display: block;
        padding:14px 25px;
        margin: 0;
        padding:0;
  }



  .footerDesign {

        height: 4em;
        color: white;
        background-color: #333;
        text-align: center;
        bottom: 0;
        top: 0;
        padding: 0px 25px;
        clear: both;
        border-top: solid #47c4d1 5px;
        display: block;


    }

    .footerLinks{

          color: white;
          display: block;
          margin:0;
          padding: 1px 25px;
          list-style-type: none;
          text-align: center;
          position:relative;;


    }

      li.foots {
          display: block;

          width: 90px;
          height: 25px;
          float: left;
          margin-left: 400px;
      }
/* GALLERY DESIGNS */
    div.gallery {
          margin: 5px;
          border: 10px solid #ccc;

          float:left;
          width: 300px;
          padding: 75px;
    }

    /*div.gallery:hover {*/
          /*border: 10px solid #47c4d1;*/
    /*}*/

    div.gallery img {
          width: 100%;
          height: auto;

    }

    div.desc {
          padding: 1px ;
          text-align: center;
    }

/* Testing different FOOTER styling

    .copy-right ul li {
          list-style-type: none;
          display: inline-block;
          margin: 0 0px;
          border-left: 1px solid #444343;
          padding: 0 20px;
*/


/* Testing different nav functions

  .websiteName{

          display: block;
          font-size: 20px;
          color: hotpink;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

  .websiteName{
          hover:not(.active)
          background-color: black;
        }
Testing different nav functions */
