.container-fluid {

    height: 60em;
    display: flex;
    align-items: center;
    width: 100%;
}

.row {
    width: 100%;
}

.center {
    margin: 0 auto;
}

.panel-custom {
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20em;
    margin-left: 7em;
    border: 1px solid gray;
}

    .panel-custom .panel-heading {
        background: #f1f1f1;
        padding:.5em;
    }

    .panel-body {
        padding: 1em;
    }

.panel-custom-register {
    margin-bottom: 0em;
}


.profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10em auto;
}
.profile-container .profile-detail {
    padding: 3em;
    position: relative;
    width: 30em;
    background: rgba(255,255,255,0.8);
}

.profile-container h3 {
    text-align: center;
}